<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item List</title>
</head>
<body>
  <h1>Item List</h1>
  <ul>
    <% items.forEach(item => { %>
      <li><%= item.itemName %></li>
    <% }); %>
  </ul>
  <a href="/addItem">Add Item</a>
</body>
</html>
